.tablecolor{
background-color: black;
font-size: x-large;
}
image{
    width: 250px;
    height: 250px
}
h1{
    color: azure;
}
body{
    background-color: black;
}
li{
    color: white;
}
tr{
    background-color: white;
}